/* ROYAL-BLUE: #00539C;
PEACH: #EEA47F; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html{
  scroll-behavior: smooth;
}
#portfolio{
  background: #eee;
}
/*INTRO*/
#intro {
  width: 100%;
  background: #EEE;

}
#intro header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 30px;
  background: hsl(224, 36%, 15%);
  box-shadow: 1px 1px 2px #666;
  position: fixed;
  width: 100%;
  z-index: 20;
}
#intro h1 {
  font-size: 1.3rem;
  color: #EEE;
}
nav ul {
  display: flex;
  list-style: none;
}
nav li{
  padding: 0 5px
}
nav a {
  text-transform: uppercase;
  color: #00539C;
  color: hsl(224, 36%, 15%);
  background: #EEA47F;
  text-decoration: none;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  font-size: 18px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a:hover{
  transition: all .5s linear;
  transform: scale(1.2);
  color: #EEA47F;
  background: #00539C;
}
/* ABOUT SECTION */
.first-content {
  padding: 130px;
}
#about h1 {
  font-size: 0.8rem;
  font-weight: 100;
  margin: 15px 0;
}
#about h2 {
  font-size: 2rem;
  width: 300px;
  letter-spacing: 1px;
  margin: 15px 0;
  color: hsl(224, 36%, 15%);
}
#about p {
  width: 100%;
  max-width: 400px;
  line-height: 25px;
  margin: 15px 0;
}
#about ul {
  list-style: none;
  display: flex;
}
#about li {
  margin: 10px 10px 10px 0;
}
#about a,
.proj .links a{
  background: hsl(224, 36%, 15%);
  color: #fff;
  border-radius: 2px;
  letter-spacing: 1px;
  font-size: 0.8rem;
  text-decoration: none;
  padding: 8px 15px;
}
.get-in-touch-wrapper{
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 100;
}
.get-in-touch{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 150px auto;
  padding: 20px;
  background: #fff;
  position: relative;
  border-radius: 10px;
  border: 2px solid hsl(224, 36%, 15%);
}
.close{
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
  background: red;
  cursor: pointer;
  border-radius: 50px;
  padding: 7px;
}
input,
textarea,
form button{
  display: block;
  padding: 10px;
  border: 2px solid hsl(224, 36%, 15%);
  border-radius: 5px;
  outline: none;
  width: 100%;
  max-width: 500px;
  margin: 5px;
  font-size: 1.2rem;
}
form button{
  width: 200px;
  cursor: pointer;
  background: hsl(224, 36%, 15%);
  color: #fff;
}

/* SKILLS SECTION */
#skills{
  padding: 10px;
  background: hsl(224, 36%, 15%);
}
#skills h3{
  padding: 5px 0;
  text-transform: uppercase;
}
.skills-container {
  margin: 30px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 30px;
}
.award {
  padding: 30px 10px;
  background: #fff;
  position: relative;
  margin: 30px;
  border-radius: 10px;
  border: 1px solid #00539C;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2)
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid hsl(224, 36%, 15%);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -50px;
  background: hsl(224, 36%, 15%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.media{
  display: none;
}
.icon{
  font-size: 30px;
  color: #FFF;
}
/* PROJECT SECTION */
#project{
  padding: 10px;
  background: #EEE;
  color: #EEE;
}
.project-item{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding: 30px;
}
#project h1,
#social h1,
#skills h1,
#feed-back h1{
  border-bottom: 1px solid #333;
  padding: 10px 0;
  text-transform: uppercase;
  color: #FFF;
}
#project h1{
  color: hsl(224, 36%, 15%);
}
.proj{
  margin: 20px auto;
  box-shadow: 2px 2px 4px #000;
  /* position: relative; */
  z-index: 5;
  overflow: hidden;
  background: hsl(224, 36%, 15%);
}
.proj p{
  padding: 20px 0 5px 0;
}
.proj .links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}
.proj .links a{
  background: #EEE;
  color: #000;
}
.proj .links a:hover{
  font-weight: bold;
  color: #333;
}
.proj img{
  border: 1px solid #FFF;
  width: 100%;
}
.proj img:hover{
  transform: scale(1.1);
  transition: transform .5s;

}
/* SOCIAL LINKS */
#social{
  padding: 30px 10px;
  background: hsl(224, 36%, 15%);
}
#social h1{
  color: #EEE;
}
/* color: #EEA47F;
background: #00539C; */
#social .links{
  text-align: center;
  padding: 30px 0;
  display: flex;
}
#social a{
  text-transform: uppercase;
  text-decoration: none;
  background: #EEA47F;
  color: hsl(224, 36%, 15%);
  padding: 15px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0 10px;
  animation: spin 2s ease-in-out 3s infinite;
  background-attachment:
}
#social a:hover{
  color: #EEA47F;
  background: hsl(224, 36%, 15%);
  transition: all .5s linear;
}
/* FEED  BACK */
#feed-back{
  background: hsl(224, 36%, 15%);
  padding: 10px;
}
#feed-back h1{
  color: #EEE;
}
#feed-back .emoji{
  text-align: center;
}
.emoji i{
  font-size: 30px;
  padding: 50px;
  text-align: center;
}
.fa-laugh{
  color: green;
}
.smile{
  color: yellow;
}
.fa-angry{
  color: red;
}


/* SECTION APPEAR */
section{
  transform: translateY(70px);
  opacity: 0;
  transition: all 1s ease-in-out;
}
section.appear{
  opacity: 1;
  transform: translateY(0);
}


/* Animation */
@keyframes spin {
  0%{
    transform: rotateZ(0deg);
  }
  50%{
    transform: rotateZ(10deg);
  }
  75%{
    transform: rotateZ(-10deg);
  }
  100%{
    transform: rotateZ(0deg);
  }
}

/*---------
RESPONSIVE
____*/
@media (max-width: 830px) {
  #intro header {
    padding: 15px 10px;
  }
  #intro header h1 {
    font-size: 1rem;
  }
  .first-content {
    padding: 130px;
  }
  .about h1 {
    margin: 5px 0;
  }
  .about h2 {
    font-size: 1.5rem;
    letter-spacing: 0;
    margin: 10px 0;
  }
  .skills-container {
    grid-template-columns: 1fr 1fr;
    margin: 30px 0;
  }
  .award{
    margin: 15px;
  }
}
@media (max-width: 620px) {
  #skills h3{
    display: none;
  }
  .award{
    height: 200px;
    width: 140px;
    padding: 30px 0;
  }
  .logo{
    position: none;
    padding-top: 40px;
    border-radius: none;
    border: none;
    background: none;
  }
  .icon{
    margin-top: 70px;
    font-size: 70px;
    color: #00203F;
  }
  .content p{
    display: none;
  }
  .content .media{
    display: block;
    padding: 100px 10px 10px 10px;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  .project-item{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 550px) {
  #intro header{
    padding: 15px 5px;
  }
  .about p {
    max-width: 300px;
  }
  .about h2 {
    width: 200px;
  }
  .first-content {
    padding: 170px 30px;
  }
  .get-in-touch{
    margin: 100px auto;
    width: 100%;
    max-width: 380px;
  }

}
